[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tablecompare"]
	path = tablecompare
	url = https://github.com/eutwt/tablecompare
